<% if current_user %>
<div class="vote-arrows pull-left">
  <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post, remote: true %></div>
 <div class="post-<%= post.id %>"><strong><%= post.points %></strong></div>
  <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post, remote: true %></div>
</div>
<% end %>

<!--we used method: :post, because link_to generates GET requests by default.-->

<!--Because the partial has access to the @post variable, we don't technically need to pass it here.
Other views where we would like to incorporate this partial might not have an identical @post variable,
however, so it's a good idea to pass post in explicitly, rather than implicitly expect @post.
This is why the partial we created references post instead of @post.-->


<!-- <div class = "js-vote"><strong><%= post.points %></strong></div> -->
